# Models (ignore actual model files but track .dvc files)
/models/*
!/models/*.dvc

# DVC
/dvc_storage
/data/*
!/data/*.dvc
*.dvc.db
*.dvc.dir

# MLflow
/mlruns

# Python
__pycache__/
*.py[cod]
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Coverage
.coverage
coverage.xml

# Virtual Environment
venv/
ENV/

# IDE
.idea/
.vscode/